<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test GRAPH QL</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script>
    var Query = `query { users {nome,cognome,foto}}`


    axios({
      url: 'http://127.0.0.1:8000/graphql',
      method: 'post',
      data: {
        query: Query
      }
    }).then((result) => {

          _.map(result.data,function(val){
              console.log(val)
          })
    });
    </script>

    <style>
        #append{ width: 100%;background-color: #e8faff;}
    </style>
</head>
<body>

<div id="append"></div>

</body>
</html>